.abas-textos{
background-color: var(--texto-fundo);
padding: 40px;
border-radius: 0 0 40px 40px;
} 
.aba-conteudo.ativo.{
    display;block;
}
.aba-conteudo-titulo-principal{
    font-size: :28px;
    text-aling: center
}
.aba-conteudo-titulo-sewndario{
    text-align: center
    color:var:center
    color:var(--verde);
    text-transform: uppercase;
}
